babel==2.9.0
python-dateutil==2.9.0
flask-moment==1.0.6
flask-wtf==1.2.2
flask_sqlalchemy==3.1.1
alembic==1.13.3
Flask==3.0.3 
flask-migrate==4.0.7 
flask-moment==1.0.6 
python-dateutil==2.9.0 
psycopg2==2.9.10 
WTForms==3.2.1